
<app-info-item title="Civilité" [content]="borrower.civility"></app-info-item>
<app-info-item title="Nom de naissance" [content]="borrower.lastname"></app-info-item>
<app-info-item title="Nom d'usage" [content]="borrower.maritalName"></app-info-item>
<app-info-item title="Prénom" [content]="borrower.firstname"></app-info-item>
<app-info-item title="Date de naissance" content="N/A"></app-info-item>
<app-info-item title="Zone géographique de naissance" content="N/A"></app-info-item>
<app-info-item title="Commune de naissance" content="N/A"></app-info-item>
<app-info-item title="Profession" content="N/A"></app-info-item>