mat-toolbar.mat-toolbar{
    color: #00915a;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}
.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    text-align: left;
    .mat-button {
        width: 100%;
        display: block;
        justify-content: left;
        font-size: 1rem;
        text-align: left;
        padding: 10px 16px;
        mat-icon {
            margin-right: 8px;
        }
    }
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    background-color: #fff;
}


